# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform crash logs
crash.log

# Ignore CLI configuration files
.terraform/

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore local variable definitions

*.tfvars.json

# Ignore any backup files created by Terraform
*.backup

# Optional: ignore plan files
*.tfplan
.terraform.lock.hcl